:root {
    /*Nastavení barev*/
    --primary: #FFCC00;
    --base: #f1f1f1;
    --neutral: #000000;
    /*Pro průhledná pozadí*/
    --neutral-rgb: 0, 0, 0;
    --accent: #374834;
    --highlight: #FFD1AF;
    --soft: #e4e4e4;
    --important: rgb(233, 135, 135);

    /*Velikosti písma*/
    --font-size-3xl: 2.986rem;
    --font-size-2xl: 2.488rem;
    --font-size-xl: 2.074rem;
    --font-size-l: 1.728rem;
    --font-size-m: 1.44rem;
    --font-size-s: 1.2rem;
    --font-size-xs: 1rem;
    --font-size-2xs: 0.833rem;
    --font-size-3xs: 0.694rem;

    /*Škála velikostí pro mezery, velikosti...*/
    /*0px*/
    --size-unit-0: 0;
    /*4px*/
    --size-unit-1: 0.25rem;
    /*8px*/
    --size-unit-2: 0.5rem;
    /*12px*/
    --size-unit-3: 0.75rem;
    /*16px*/
    --size-unit-4: 1rem;
    /*24px*/
    --size-unit-5: 1.5rem;
    /*32px*/
    --size-unit-6: 2rem;
    /*48px*/
    --size-unit-7: 3rem;
}

body {
    background-color: var(--base);
    font-family: 'Sansita';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.site-container {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.site-container>* {
    width: 100%;
}

/*SPOLEČNÉ STYLY*/
.navigation a:hover {
    color: var(--accent);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-secondary a {
    font-size: var(--font-size-l);
    background-color: var(--soft);
    padding: var(--size-unit-2) calc(var(--size-unit-7) * 2);
    text-decoration: none;
    color: var(--neutral);
}

.button-secondary a:hover {
    filter: sepia(0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-highlight button {
    text-align: center;
    width: calc(var(--size-unit-7) * 5);
    font-size: var(--font-size-xs);
    font-weight: 600;
    border: none;
    background-color: var(--highlight);
    height: var(--size-unit-7);
}

.button-highlight button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: sepia(0.2);
}

.heading-display h2,
.heading-standard h2 {
    display: inline-block;
    /*Velikost podle textu*/
    padding-bottom: calc(var(--size-unit-3) * 1.25);
    background-size: 100% var(--size-unit-7);

    background-image: url('obrazky/underscore.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: calc(var(--size-unit-3) * 1.25);
}

.heading-display h2 {
    font-weight: 900;
    font-style: italic;
    font-size: var(--font-size-3xl);
    margin: 0;
    margin-left: 2%;
}

.heading-standard h2 {
    font-size: var(--font-size-l);
    margin-left: 2%;
}

.text-standard p {
    margin: 0;
    margin-left: 2%;
    padding: 0;
    font-size: var(--font-size-m);
}

.text-important p {
    margin-left: 2%;
    margin-right: 2%;
    padding: var(--size-unit-1);
    display: inline-block;
    font-size: var(--font-size-m);
    background-color: var(--important);
}

/*Vyskakovací banner styly*/
.pop-up-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--neutral-rgb), 0.9);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pop-up-wrap.hide {
    display: none;
}

.pop-up {
    box-sizing: border-box;
    padding: var(--size-unit-3);
    display: flex;
    flex-direction: column;
    background-color: var(--soft);
}

.pop-up-close-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pop-up .button-highlight button {
    float: right;
    margin-right: 2%;
}

/*Header styly*/
.site-header {
    height: calc(var(--size-unit-2) * 15);
    max-width: calc(var(--size-unit-7)*30);
    border-bottom: 2px solid var(--neutral);
    margin-bottom: var(--size-unit-3);
}

.site-navigation {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-logo {
    flex: 1;
    text-align: left;
}

.main-logo {
    margin-left: 2%;
    font-size: var(--font-size-3xl);
    font-style: italic;
    font-weight: 800;
    line-height: 0.8;
}

.main-logo a {
    text-decoration: none;
    color: var(--neutral);
}

.navigation {
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.navigation a {
    color: var(--neutral);
}

.navigation ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    gap: 7%;
}

.navigation ul li {
    font-size: var(--font-size-m);
}

/*Hlavní část styly*/
.site-content {
    width: 100%;
    max-width: calc(var(--size-unit-7)*30);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-content section {
    margin-bottom: calc(var(--size-unit-7) * 3);
}

/*HERO*/
.site-content .hero {
    margin-bottom: var(--size-unit-7);
}

.hero {
    margin-top: var(--size-unit-5);
    background-image: url(obrazky/bitmapa.png);
    max-width: calc(var(--size-unit-7)*30);
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(var(--size-unit-7) * 11);
}

.hero-text p,
.hero-link a {
    margin-left: 2%;
    font-weight: 900;
    font-style: italic;
}

.hero-text p {
    max-width: 40%;
    font-size: var(--font-size-xl);
}

.hero-link {
    margin-top: calc(var(--size-unit-7) * 2);
}

.hero-link a {
    padding: var(--size-unit-1);
    font-size: var(--font-size-2xl);
    text-decoration: underline;
    color: var(--neutral);
    background-color: var(--primary);
}

/*SOCIAL MEDIA SECTION*/
.social-media-wrap {
    max-width: calc(var(--size-unit-7)*30);
}

.social-media-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: var(--size-unit-3);
    border-bottom: 2px solid var(--neutral);
    border-top: 2px solid var(--neutral);
    margin-left: 2%;
    margin-right: 2%;
}

.social-media-banner img {
    height: var(--size-unit-7);
}

/*CONTACT BANNER*/
.contact-banner {
    background-color: var(--accent);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
}

.contact-banner .main-text {
    font-size: var(--font-size-l);
    color: var(--highlight);
}

.contact-banner .secondary-text {
    font-size: var(--font-size-l);
    color: var(--base);
}

/*MAP SECTION*/
.map-section {
    margin-left: 2%;
    margin-right: 2%;
}

.map iframe {
    width: 100%;
    height: calc(var(--size-unit-7) * 15);
}

/*FOOTER*/
footer {
    max-width: calc(var(--size-unit-7)*30);
    border-top: 2px solid var(--neutral);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--size-unit-7) * 2);
}

.footer-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom {
    padding: 0;
    margin: 0;
    background-color: var(--important);
    text-align: center;
    width: 100%;
}

.footer-copyright {
    margin-left: 2%;
    font-size: var(--font-size-m);
}

/*----------PRODUCTS PAGE--------------*/
.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-content .search-section {
    margin-top: var(--size-unit-5);
    margin-bottom: var(--size-unit-7);
}

.search-section .heading-standard h2 {
    margin: 0;
    margin-bottom: var(--size-unit-3);
}

.input-wrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-wrap button {
    background-color: var(--soft);
    border: none;
    margin: 0;
    height: calc(var(--size-unit-7) * 0.8);
    cursor: pointer;
}

.search-bar input {
    box-sizing: border-box;
    background-size: var(--size-unit-6);
    width: calc(var(--size-unit-7) * 9);
    height: calc(var(--size-unit-7) * 0.8);
    padding: var(--size-unit-3);
    background-color: var(--soft);
    border: none;
}

.search-bar input::placeholder {
    font-size: var(--font-size-xs);
    font-weight: bold;
}

.search-bar svg {
    height: var(--size-unit-5);
}

.product-section-grid {
    max-width: calc(var(--size-unit-7)*30);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: var(--size-unit-2);
}

.product-card {
    box-sizing: border-box;
    padding: var(--size-unit-2);
    background-color: var(--soft);
    margin: var(--size-unit-2);
    max-width: calc(var(--size-unit-7) * 7);
    height: calc(var(--size-unit-7) * 8);
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product-card-img img {
    width: 100%;
    height: calc(var(--size-unit-7) * 5.5);
    object-fit: cover;
    margin: 0;
}

.product-card-price p {
    font-size: var(--font-size-s);
}

/*----------CONTACT PAGE---------------*/
.contact-section-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    max-width: calc(var(--size-unit-7)*30);
    gap: 10%;
    justify-items: start;
    margin-bottom: calc(var(--size-unit-7) * 2);
}

.delivery-info {
    grid-column: 1 / 2;
    grid-row: 1;
}

.contact-form-wrap {
    grid-column: 1 / 2;
    grid-row: 2;
}

.contact-form {
    width: 100%;
}

.contact-form input {
    box-sizing: border-box;
    width: calc(var(--size-unit-7) * 5);
    padding: var(--size-unit-3);
    margin: var(--size-unit-2);
    background-color: var(--soft);
    border: none;
}

.contact-form textarea {
    border: none;
    width: calc(var(--size-unit-7) * 10 + var(--size-unit-2) * 2);
    background-color: var(--soft);
    height: calc(var(--size-unit-7) * 5);
    margin: var(--size-unit-2);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-weight: 600;
    color: var(--neutral);
}

.contact-form input::placeholder {
    font-size: var(--font-size-xs);
}

.contact-form textarea::placeholder {
    padding: var(--size-unit-2);
    font-size: var(--font-size-s);
}

form .button-highlight button {
    margin-left: var(--size-unit-2);
}

.contacts {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.contacts .heading-standard h2,
.contacts .text-standard p {
    margin-left: 0;
}

.contacts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacts ul li {
    font-size: var(--font-size-m);
}

/*mobile version*/
.contacts-mobile {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: var(--size-unit-2);
}

.contact-item {
    display: flex;
    flex-direction: column;
}

.contact-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*MEDIA QUERY*/
@media (max-width: 1070px) {
    .product-section-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /*Hero styles*/
    .site-content .hero {
        margin-bottom: 0;
    }
}

@media (max-width: 950px) {

    /*Space between sections*/
    .site-content section {
        margin-bottom: calc(var(--size-unit-7) * 2);
    }

    /*Hero section styles*/
    .hero {
        background-image: url(obrazky/hero-small.png);
    }

    .heading-display h2 {
        font-size: var(--font-size-2xl);
    }

    .hero-text p {
        font-size: var(--font-size-l);
        max-width: 60%;
    }

    .hero a {
        font-size: var(--font-size-xl);
    }
}

@media (max-width: 880px) {

    /*Space between sections*/
    .site-content section {
        margin-bottom: var(--size-unit-6);
    }

    /*Map section styles*/
    .map-section iframe {
        height: calc(var(--size-unit-7) * 10);
    }

    /*Contact banner styles*/
    .contact-banner .main-text p,
    .contact-banner .secondary-text p {
        font-size: var(--font-size-s);
    }

    .button-secondary a {
        font-size: var(--font-size-s);
        padding: var(--size-unit-2) var(--size-unit-7);
    }

    /*Products page styles*/
    .product-section-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .search-section .heading-standard h2 {
        font-size: var(--font-size-l);
    }

    /*Contacts page styles*/
    .contact-section-grid .heading-standard h2 {
        font-size: var(--font-size-s);
    }

    .contact-section-grid .text-standard p {
        font-size: var(--font-size-xs);
    }

    .contact-section-grid .text-important p {
        font-size: var(--font-size-xs);
    }

    .contact-section-grid>* {
        min-width: 0;
        white-space: normal;
        overflow-wrap: break-word;
    }

    .contact-section-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: var(--size-unit-6);
        margin-bottom: var(--size-unit-6);
    }

    .delivery-info {
        grid-row: 1;
    }

    .contacts {
        display: none;
    }

    .contact-form-wrap {
        grid-row: 2;
    }

    .contacts ul li {
        font-size: var(--font-size-xs);
    }

    .contacts-mobile {
        display: grid;
        margin-left: 2%;
    }

    /*Footer section*/
    footer {
        height: calc(var(--size-unit-7) * 1.5);
    }
}

@media (max-width: 620px) {

    /*Common styles*/
    .heading-standard h2 {
        font-size: var(--font-size-m);
    }

    .navigation a {
        font-size: var(--font-size-xs);
    }

    .text-important p {
        font-size: var(--font-size-2xs);
    }

    /*Header styly*/
    .main-logo a {
        font-size: var(--font-size-l);
    }

    /*Social media banner*/
    .social-media-banner img {
        height: var(--size-unit-5);
    }

    /*Contact banner styles*/
    .contact-banner .main-text p,
    .contact-banner .secondary-text p {
        font-size: var(--font-size-xs);
    }

    .button-secondary a {
        font-size: var(--font-size-xs);
        padding: var(--size-unit-2) var(--size-unit-6);
    }

    /*Hero section styles*/
    .hero {
        background-image: url(obrazky/hero-xs.png);
        height: calc(var(--size-unit-7) * 8);
        margin-top: 0;
    }

    .heading-display h2 {
        margin-top: var(--size-unit-3);
        background-image: url(obrazky/underscore-black.png);
    }

    .hero-text p {
        margin-top: 0;
        font-size: var(--font-size-m);
    }

    .hero-link {
        margin: 0;
    }

    .hero-link a {
        color: var(--primary);
        background-color: var(--neutral);
    }

    /*Products page styles*/
    .product-section-grid {
        grid-template-columns: 1fr 1fr;
    }

    .product-card-heading {
        font-size: var(--font-size-2xs);
    }

    .product-card-price {
        font-size: var(--font-size-3xs);
    }

    /*Contacts page styles*/
    .contact-form input {
        width: calc(var(--size-unit-7) * 4);
    }

    .contact-form textarea {
        width: calc(var(--size-unit-7) * 8 + var(--size-unit-2) * 2);
    }

    .contact-form button {
        width: calc(var(--size-unit-7) * 4);
    }

    /*Footer styles*/
    .footer-links ul li a {
        font-size: var(--font-size-xs);
    }

    .footer-copyright p {
        font-size: var(--font-size-s);
    }
}

@media (max-width: 520px) {

    /*Common styles*/
    .heading-standard h2 {
        font-size: var(--font-size-s);
    }

    .heading-display h2 {
        font-size: var(--font-size-l);
    }

    .hero-text p {
        font-size: var(--font-size-s);
    }

    .hero-link a {
        font-size: var(--font-size-m);
    }

    /*HERO styles*/
    .hero {
        background-image: url(obrazky/hero-2xs.png);
    }

    /*Contact banner styles*/
    .contact-banner .main-text p,
    .contact-banner .secondary-text p {
        font-size: var(--font-size-3xs);
    }

    .button-secondary button {
        font-size: var(--font-size-3xs);
        width: calc((var(--size-unit-6) * 4));
        height: var(--size-unit-6);
    }

    /*Map section styles*/
    .map-section iframe {
        height: calc(var(--size-unit-7) * 7);
    }

    /*Products page styles*/
    .search-bar input {
        width: calc(var(--size-unit-7) * 6);
    }

    .product-card {
        height: calc(var(--size-unit-7) * 6);
    }

    .product-card-img img {
        height: calc(var(--size-unit-7) * 4);
    }

    .product-card-heading {
        font-size: var(--font-size-2xs);
    }

    .product-card-price p {
        font-size: var(--font-size-xs);
    }

    /*Contact page styles*/
    .contacts-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-form input {
        width: calc(var(--size-unit-7) * 3.2);
    }

    .contact-form input::placeholder,
    .contact-form button,
    .contact-form textarea::placeholder {
        font-size: var(--font-size-2xs);
    }

    .contact-form textarea {
        width: calc(var(--size-unit-7) * 6.4 + var(--size-unit-2) * 2);
    }

    .contact-form button {
        width: calc(var(--size-unit-7) * 3.2);
        height: calc(var(--size-unit-6) * 1.25);
    }

    /*FOOTER STYLES*/
    .footer-copyright p {
        font-size: var(--font-size-xs);
    }
}

@media(max-width: 450px){
    /*Footer styles*/
    .footer-top .navigation {
    flex-direction: column;
    justify-content: right;
    }

    .footer-top .navigation a{
    font-size: var(--font-size-2xs);
    }
    .footer-top .navigation ul {
    flex-direction: column;
    gap: var(--size-unit-2);
    }

    .footer-top .navigation ul li {
    font-size: var(--font-size-m);
    text-align: right;
    }

}