

/*---------------------------------MEDIA QUERY--------------------------------*/
@media (max-width: 1070px) {
    .product-section-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /*Hero styles*/
    .site-content .hero {
        margin-bottom: 0;
    }
}

@media (max-width: 950px) {

    /*Space between sections*/
    .site-content section {
        margin-bottom: calc(var(--size-unit-7) * 2);
    }

    /*Hero section styles*/
    .hero {
        background-image: url(obrazky/hero-small.png);
        height: calc(var(--size-unit-7) * 9.5);
    }

    .heading-display h2 {
        font-size: var(--font-size-2xl);
    }

    .hero-text p {
        font-size: var(--font-size-l);
        max-width: 60%;
    }

    .hero a {
        font-size: var(--font-size-xl);
    }
}

@media (max-width: 880px) {

    /*Space between sections*/
    .site-content section {
        margin-bottom: var(--size-unit-6);
    }
    /*Map section styles*/
    .map-section iframe {
        height: calc(var(--size-unit-7) * 10);
    }

    /*Contact banner styles*/
    .contact-banner .main-text p,
    .contact-banner .secondary-text p {
        font-size: var(--font-size-s);
    }

    .button-secondary a {
        font-size: var(--font-size-s);
        padding: var(--size-unit-2) var(--size-unit-7);
    }

    /*Products page styles*/
    .product-section-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .search-section .heading-standard h2 {
        font-size: var(--font-size-l);
    }

    /*Contacts page styles*/

    .contact-section-grid .text-standard p {
        font-size: var(--font-size-xs);
    }

    .contact-section-grid .text-important p {
        font-size: var(--font-size-xs);
    }

    .contact-section-grid>* {
        min-width: 0;
        white-space: normal;
        overflow-wrap: break-word;
    }

    .contact-section-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: var(--size-unit-6);
        margin-bottom: var(--size-unit-6);
    }

    .delivery-info {
        grid-row: 1;
    }

    .contacts {
        display: none;
    }

    .contact-form-wrap {
        grid-row: 2;
    }

    .contacts ul li {
        font-size: var(--font-size-xs);
    }

    .contacts-mobile {
        display: grid;
        margin-left: 2%;
    }

    /*Footer section*/
    footer {
        height: calc(var(--size-unit-7) * 1.5);
    }
}

@media (max-width: 620px) {

    /*Common styles*/
    .heading-standard h2 {
        font-size: var(--font-size-m);
    }

    .navigation a {
        font-size: var(--font-size-xs);
    }

    .text-important p {
        font-size: var(--font-size-2xs);
    }

    /*Top bar styles*/
    .top-bar-links-container .text-standard p {
        font-size: var(--font-size-s);
    }

    /*Header styles*/
    .site-header {
        height: calc(var(--size-unit-6) * 3);
    }

    .main-logo a {
        font-size: var(--font-size-l);
    }

    /*Social media banner*/
    .social-media-banner img {
        height: var(--size-unit-5);
    }

    /*Contact banner styles*/
    .contact-banner .main-text p,
    .contact-banner .secondary-text p {
        font-size: var(--font-size-xs);
    }

    .button-secondary a {
        font-size: var(--font-size-xs);
        padding: var(--size-unit-2) var(--size-unit-6);
    }

    /*Hero section styles*/
    .hero {
        background-image: url(obrazky/hero-xs.png);
        height: calc(var(--size-unit-7) * 8);
        margin-top: var(--size-unit-3);
    }

    .heading-display h2 {
        margin-top: var(--size-unit-3);
        background-image: url(obrazky/underscore-black.png);
    }

    .hero-text p {
        margin-top: 0;
        font-size: var(--font-size-m);
    }

    .hero-link {
        margin: 0;
    }

    .hero-link a {
        color: var(--primary);
        background-color: var(--neutral);
    }

    .hero-link a:hover {
        color: var(--neutral);
        background-color: var(--primary);
        text-shadow: var(--shadow-medium);
    }

    /*Products page styles*/
    .product-section-grid {
        grid-template-columns: 1fr 1fr;
    }

    .product-card-heading {
        font-size: var(--font-size-2xs);
    }

    .product-card-price {
        font-size: var(--font-size-3xs);
    }

    /*Contacts page styles*/
    .contact-form input {
        width: calc(var(--size-unit-7) * 4);
    }

    .contact-form textarea {
        width: calc(var(--size-unit-7) * 8 + var(--size-unit-2) * 2);
    }

    .contact-form button {
        width: calc(var(--size-unit-7) * 4);
    }

    /*Footer styles*/
    .footer-links ul li a {
        font-size: var(--font-size-xs);
    }

    .footer-copyright p {
        font-size: var(--font-size-s);
    }
}

@media (max-width: 520px) {

    /*Common styles*/
    .heading-standard h2 {
        font-size: var(--font-size-s);
    }

    .heading-display h2 {
        font-size: var(--font-size-l);
    }

    .hero-text p {
        font-size: var(--font-size-s);
    }

    .hero-link a {
        font-size: var(--font-size-m);
    }

    /*Top bar styles*/
    .top-bar-links-container .text-standard p {
        font-size: var(--font-size-xs);
    }

    .top-bar-links-container svg {
        height: var(--size-unit-5);
    }

    .top-bar {
        height: calc(var(--size-unit-6) * 1.2);
    }

    /*HERO styles*/
    .hero {
        background-image: url(obrazky/hero-2xs.png);
    }

    /*Contact banner styles*/
    .contact-banner .main-text p,
    .contact-banner .secondary-text p {
        font-size: var(--font-size-3xs);
    }

    .button-secondary button {
        font-size: var(--font-size-3xs);
        width: calc((var(--size-unit-6) * 4));
        height: var(--size-unit-6);
    }

    /*Map section styles*/
    .map-section iframe {
        height: calc(var(--size-unit-7) * 7);
    }

    /*Products page styles*/
    .search-bar input {
        width: calc(var(--size-unit-7) * 6);
    }

    .product-card {
        height: calc(var(--size-unit-7) * 6);
    }

    .product-card-img img {
        height: calc(var(--size-unit-7) * 4);
    }

    .product-card-heading {
        font-size: var(--font-size-2xs);
    }

    .product-card-price p {
        font-size: var(--font-size-xs);
    }

    /*Contact page styles*/
    .contacts-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-form input {
        width: calc(var(--size-unit-7) * 3.2);
    }

    .contact-form input::placeholder,
    .contact-form button,
    .contact-form textarea::placeholder {
        font-size: var(--font-size-2xs);
    }

    .contact-form textarea {
        width: calc(var(--size-unit-7) * 6.4 + var(--size-unit-2) * 2);
    }

    .contact-form button {
        width: calc(var(--size-unit-7) * 3.2);
        height: calc(var(--size-unit-6) * 1.25);
    }

    /*FOOTER STYLES*/
    .footer-copyright p {
        font-size: var(--font-size-xs);
    }
}

@media(max-width: 450px) {

    /*Top bar styles*/
    .top-bar-links-container .text-standard p {
        font-size: var(--font-size-2xs);
    }

    /*Footer styles*/
    .footer-top .navigation {
        flex-direction: column;
        justify-content: right;
    }

    .footer-top .navigation a {
        font-size: var(--font-size-2xs);
    }

    .footer-top .navigation ul {
        flex-direction: column;
        gap: var(--size-unit-2);
    }

    .footer-top .navigation ul li {
        font-size: var(--font-size-m);
        text-align: right;
    }

}