/*----------------------------CAREER PAGE---------------------------------*/
.career-intro-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

.open-position-card-text .text-standard ul{
    list-style-type: disc;
}

.open-position-card-text .text-standard ul li::marker{
    color: var(--important);
}

/*---------------------------------MEDIA QUERY--------------------------------*/
@media(max-width: 915px){
    .career-intro-section{
        flex-direction: column;
        gap: var(--size-unit-5);
    }
}
