/*----------------------------CONTACT PAGE---------------------------------*/
.contact-section-grid {
    padding-right: 2%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    max-width: calc(var(--size-unit-7)*30);
    gap: 10%;
    justify-items: start;
    margin-bottom: calc(var(--size-unit-7) * 2);
}

.delivery-info {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1;
}

.delivery-info .txt--important p,
.delivery-info .txt--important {
    width: 100%;
}

.delivery-info-table {
    width: 100%;
}

.delivery-info-table th,
td {
    border: 1px solid var(--neutral);

}

.contact-form-wrap {
    grid-column: 1 / 2;
    grid-row: 2;
    width: 100%;
}

.contact-form {
    width: 100%;
}

.contact-form input {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--soft);
    border: none;
}

.contact-form textarea {
    box-sizing: border-box;
    border: none;
    width: 100%;
    background-color: var(--soft);
    height: calc(var(--size-unit-7) * 5);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-weight: 600;
    color: var(--key);
}

.contact-form input::placeholder {
    font-size: var(--font-size-xs);
}

.contact-form textarea::placeholder {
    padding: var(--size-unit-2);
    font-size: var(--font-size-s);
}


.contacts {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.contacts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacts ul li {
    font-size: var(--font-size-m);
}

/*mobile version*/
.contacts-mobile {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: var(--size-unit-2);
}

.contacts-mobile .txt--standard p {
    font-size: var(--font-size-s);
}

.contact-item {
    display: flex;
    flex-direction: column;
}

.contact-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



/*---------------------------------MEDIA QUERY--------------------------------*/

@media (max-width: 880px) {

    .contact-section-grid>* {
        min-width: 0;
        white-space: normal;
        overflow-wrap: break-word;
    }

    .contact-section-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: var(--size-unit-6);
        margin-bottom: var(--size-unit-6);
    }

    .delivery-info {
        grid-row: 1;
    }

    .contacts {
        display: none;
    }

    .contact-form-wrap {
        width: 98%;
        grid-row: 2;
    }

    .contacts-mobile {
        display: grid;
    }
}

@media (max-width: 630px) {
    .contacts-mobile .heading--standard {
        font-size: var(--font-size-m);
    }

    .delivery-info-table {
        width: 98%;
    }

    .delivery-info .txt--important p {
        width: 98%;
        word-wrap: break-word;
    }

    .contact-form button {
        width: calc(var(--size-unit-7) * 4);
    }
}

@media (max-width: 560px) {
    .contacts-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}