/*-----------------------------PRODUCT PAGE-----------------------------*/

.site-content {
    margin-top: var(--size-unit-5);
    margin-bottom: var(--size-unit-7);
}

.product-section-grid {
    max-width: calc(var(--size-unit-7)*30);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: var(--size-unit-2);
}


/*--------------------------------MEDIA QUERY-----------------------------*/
@media (max-width: 1070px) {
    .product-section-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 880px) {
    .product-section-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 620px) {
    .product-section-grid {
        grid-template-columns: 1fr 1fr;
    }

    .product-card-heading {
        font-size: var(--font-size-2xs);
    }

    .product-card-price {
        font-size: var(--font-size-3xs);
    }
}

@media (max-width: 520px) {

    .product-card {
        height: calc(var(--size-unit-7) * 6);
    }

    .product-card-img img {
        height: calc(var(--size-unit-7) * 4);
    }

    .product-card-heading {
        font-size: var(--font-size-2xs);
    }

    .product-card-price p {
        font-size: var(--font-size-xs);
    }
}