html.dark-theme {
    /*Colors*/
    --primary: #FFCC00;
    --base: #111111;
    --neutral: #e0e0e0;
    /*For see-through elements*/
    --neutral-rgb: 255, 255, 255;
    --accent: #5f8258;
    --highlight: #FFD1AF;
    --soft: #474747;
    --important: rgb(233, 135, 135);
    --key: #000000;
}

html.dark-theme .btn--highlight button:hover {
    box-shadow: var(--shadow-standard);
    background-color: var(--base);
    border: 2px solid var(--highlight);
    color: var(--highlight);
    transition: background-color 0.3s ease;
}