/*Layout*/
.hidden{
    display: none !important;
}
/*Padding*/
.pd-0 {
    padding: var(--size-unit-0);
}
.pd-1{
    padding: var(--size-unit-1);
}
.pd-2 {
    padding: var(--size-unit-2);
}

.pd-3 {
    padding: var(--size-unit-3);
}

.pd-4 {
    padding: var(--size-unit-4);
}

.pd-5 {
    padding: var(--size-unit-5);
}
.pd-6{
    padding: var(--size-unit-6);
}
.pd-7{
    padding: var(--size-unit-7);
}

.pd-r-2{
    padding-right: var(--size-unit-2);
}

.pd-t-3 {
    padding-top: var(--size-unit-3);
}

.pd-b-3 {
    padding-bottom: var(--size-unit-3);
}
.pd-b-4{
    padding-bottom: var(--size-unit-4);
}
.pd-r-2p {
    margin-right: 2%;
}

/*Margin*/
.mr-0 {
    margin: var(--size-unit-0);
}

.mr-2 {
    margin: var(--size-unit-2);
}

.mr-l-2 {
    margin-left: var(--size-unit-2);
}

.mr-l-3{
    margin-left: var(--size-unit-3);
}

.mr-l-4 {
    margin-left: var(--size-unit-4);
}

.mr-t-4 {
    margin-top: var(--size-unit-4);
}
.mr-tb-2{
    margin-top: var(--size-unit-2);
    margin-bottom: var(--size-unit-2);
}
.mr-b-2{
    margin-bottom: var(--size-unit-2);
}
.mr-b-3{
    margin-bottom: var(--size-unit-3);
}
.mr-b-4 {
    margin-bottom: var(--size-unit-4);
}

.mr-b-2p{
    margin-bottom: 2%;
}

.mr-lr-2p {
    margin-left: 2%;
    margin-right: 2%;
}

.mr-l-2p {
    margin-left: 2%;
}

.mr-r-2p {
    margin-right: 2%;
}

.mr-r-2{
    margin-right: var(--size-unit-2);
}

.mr-r-3{
    margin-right: var(--size-unit-3);
}

.mr-r-4{
    margin-right: var(--size-unit-4);
}

.mr-r-5{
    margin-right: var(--size-unit-5);
}

.mr-r-6{
    margin-right: var(--size-unit-6);
}