/*Buttons*/
.btn button, .btn a{
    cursor: pointer;
    text-align: center;
    border: none;
    text-decoration: none;
}


.btn--secondary a {
    color: var(--neutral);
    font-size: var(--font-size-l);
    background-color: var(--soft);
    padding: var(--size-unit-2) calc(var(--size-unit-7) * 2);
}

.btn--secondary a:hover {
    filter: sepia(0.3);
    box-shadow: var(--shadow-standard);
}

.btn--highlight button {
    color: var(--key);
    width: calc(var(--size-unit-7) * 5);
    font-size: var(--font-size-xs);
    background-color: var(--highlight);
    height: var(--size-unit-7);
    font-weight: 600;
}

.btn--highlight button:hover {
    box-shadow: var(--shadow-standard);
    filter: sepia(0.2);
}



/*---------------------------------MEDIA QUERY--------------------------------*/

@media (max-width: 880px) {
    .btn--secondary a {
        font-size: var(--font-size-s);
        padding: var(--size-unit-2) var(--size-unit-7);
    }

}

@media (max-width: 620px) {
    .btn--secondary a {
        font-size: var(--font-size-xs);
        padding: var(--size-unit-2) var(--size-unit-6);
    }
}

@media (max-width: 520px) {
    .btn--secondary button {
        font-size: var(--font-size-3xs);
        width: calc((var(--size-unit-6) * 4));
        height: var(--size-unit-6);
    }
}