/*FOOTER styles*/
footer {
    max-width: calc(var(--size-unit-7)*30);
    border-top: calc(var(--size-unit-1) * 0.5) solid var(--neutral);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(var(--size-unit-7) * 2);
    height: auto;
}

.footer-top {
    padding: var(--size-unit-5);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom {
    background-color: var(--important);
    text-align: center;
    width: 100%;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    color: var(--neutral);
    font-size: var(--font-size-m);
}



/*---------------------------------MEDIA QUERY--------------------------------*/
@media (max-width: 880px) {
    .footer-copyright {
        align-items: center;
        margin-bottom: var(--size-unit-3);
    }

    .footer-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-top .navigation {
        width: 100%;
    }

    .footer-top .navigation ul {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 620px) {

    .footer-links ul li a {
        font-size: var(--font-size-xs);
    }

    .footer-copyright p {
        font-size: var(--font-size-s);
    }
}

@media (max-width: 520px) {
    .footer-top {
        padding: var(--size-unit-4);
    }

    .footer-copyright p {
        font-size: var(--font-size-xs);
    }
}

@media(max-width: 450px) {
    .footer-top .navigation a {
        font-size: var(--font-size-2xs);
    }
}

@media (max-width: 400px) {
    .footer-top .navigation a {
        font-size: var(--font-size-3xs);
    }
}