/*Header styles*/
.site-header {
    height: calc(var(--size-unit-2) * 8.5);
    max-width: calc(var(--size-unit-7)*30);
    border-bottom: 2px solid var(--neutral);
}

.site-navigation {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-logo {
    flex: 1;
    text-align: left;
}

.main-logo {
    font-size: calc(var(--font-size-xl) * 1.1);
    font-style: italic;
    font-weight: 800;
    line-height: 0.8;
}

.main-logo a {
    text-decoration: none;
    color: var(--neutral);
}

#mobile-menu-button{
    background-color: var(--base);
    display: none;
    border: none;
    cursor: pointer;
    width: var(--size-unit-7);
}

#mobile-menu-button svg{
    fill: var(--neutral);
}
/*---------------------------------MEDIA QUERY--------------------------------*/
@media (max-width: 1010px){
    #mobile-menu-button{
        display: block;
    }
}
@media (max-width: 620px) {
    .main-logo a {
        font-size: var(--font-size-l);
    }
}
