/*Header styles*/
.site-header {
    height: calc(var(--size-unit-2) * 15);
    max-width: calc(var(--size-unit-7)*30);
    border-bottom: 2px solid var(--neutral);
}

.site-navigation {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-logo {
    flex: 1;
    text-align: left;
}

.main-logo {
    font-size: var(--font-size-3xl);
    font-style: italic;
    font-weight: 800;
    line-height: 0.8;
}

.main-logo a {
    text-decoration: none;
    color: var(--neutral);
}

.main-logo a:hover {
    color: var(--accent);
    text-shadow: var(--shadow-big);
}



/*---------------------------------MEDIA QUERY--------------------------------*/

@media (max-width: 620px) {
    .site-header {
        height: calc(var(--size-unit-6) * 3);
    }

    .main-logo a {
        font-size: var(--font-size-l);
    }
}
