/*Heading*/
.heading {
    color: var(--neutral);
    display: inline-block;
    /*Velikost podle textu*/
    padding-bottom: calc(var(--size-unit-3) * 1.25);
    background-size: 100% var(--size-unit-7);

    background-image: url('../../obrazky/underscore.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-bottom: var(--size-unit-5);
    font-weight: bold;
}

.heading--display {
    font-weight: 900;
    font-style: italic;
    font-size: var(--font-size-3xl);
}

.heading--standard{
    font-size: var(--font-size-l);
}

.heading--sm {
    font-size: var(--font-size-m);
}

.heading--xs {
    font-size: var(--font-size-m);
    padding-bottom: calc(var(--size-unit-3) * 1.25);
}

/*---------------------------------MEDIA QUERY--------------------------------*/
@media(max-width: 950px){
    .heading--display {
        font-size: calc(var(--font-size-2xl));
    }
}
@media (max-width: 620px) {
    .heading--display {
        color: var(--key);
        margin-top: var(--size-unit-3);
        background-image: url(../../obrazky/underscore-black.png);
        margin-bottom: var(--size-unit-3);
    }
}

@media (max-width: 520px) {

    .heading--display {
        font-size: var(--font-size-l);
    }
}