.link{
  color: var(--neutral);
  text-decoration: none;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-1 * var(--size-unit-1));
  width: 0%;
  height: var(--size-unit-1);
  background-color: var(--primary);
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.link--primary {
  font-weight: bold;
  
}

.link--secondary {
  font-size: var(--font-size-s);
}

.link--secondary::after {
  height: calc(var(--size-unit-1) * 0.5);
}