/*MAP SECTION styles*/
.map-section-wrap{
    box-sizing: border-box;
    width: 100%;
}

.map iframe {
    border: calc(var(--size-unit-1) * 0.5) solid var(--accent);
    width: 100%;
    height: calc(var(--size-unit-7) * 15);
}



/*---------------------------------MEDIA QUERY--------------------------------*/
@media (max-width: 880px) {
    .map-section iframe {
        height: calc(var(--size-unit-7) * 10);
    }
}

@media (max-width: 520px) {
    .map-section iframe {
        height: calc(var(--size-unit-7) * 7);
    }
}