#mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--base);
    position: fixed;
    z-index: 100;
    top: calc(var(--size-unit-7) + var(--size-unit-2) * 12.2);
    left: 0;
    right: 0;
    bottom: 0;
}

#mobile-menu a{
    text-decoration: none;
    color: var(--neutral);
    font-weight: bold;
}

.mobile-menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--neutral);
    height: calc(var(--size-unit-2) * 15);
    max-width: calc(var(--size-unit-7)*30);
    width: 90%;
}

.mobile-navigation{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.mobile-navigation ul li{
    text-align: center;
    font-size: var(--font-size-l);
}

.menu-open{
    overflow: hidden;
}