/*Navigation styles*/
.navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.navigation ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    gap: 7%;
}

.navigation ul li {
    font-size: var(--font-size-m);
}



/*---------------------------------MEDIA QUERY--------------------------------*/
@media (max-width: 800px) {
    .navigation {
        justify-content: flex-end;
    }

    .site-header .navigation ul {
        display: none;
    }
}

@media (max-width: 620px) {
    .navigation a {
        font-size: var(--font-size-xs);
    }
}