/*Navigation styles*/
.navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}

.navigation-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    gap: var(--size-unit-6);
    flex-wrap: nowrap;
}

.navigation ul li {
    font-size: var(--font-size-m);
}



/*---------------------------------MEDIA QUERY--------------------------------*/
@media(max-width: 1000px){
        .site-header .navigation ul {
        display: none;
    }
}
@media (max-width: 800px) {
    .navigation {
        justify-content: flex-end;
    }
}

@media (max-width: 620px) {
    .navigation a {
        font-size: var(--font-size-xs);
    }
}