/*Open position card styles*/
.open-position-card {
    max-width: calc(var(--size-unit-7) * 30);
    background-color: var(--soft);
    display: flex;
    flex-direction: column;
}

.open-position-card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.open-position-card-heading h3 {
    color: var(--neutral);
    font-size: var(--font-size-l);
    font-weight: bold;
}

.open-position-card-summary-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.open-position-card-summary {
    width: 100%;
    gap: 2%;
    display: flex;
    flex-direction: row;
}

.open-position-card-summary p {
    display: inline-block;
    width: calc(var(--size-unit-7) * 3.9);
    background-color: var(--base);
    border-radius: var(--size-unit-4);
}

.open-position-card-summary p {
    color: var(--neutral);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.open-position-card-summary .icon svg {
    fill: var(--neutral);
    cursor: default;
}

.open-position-card-show-more-button-wrap {
    width: 10%;
    height: var(--size-unit-7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-position-card-show-more-button {
    background-color: var(--soft);
    border: none;
    width: calc(var(--size-unit-7) * 1.25);
}

.open-position-card-show-more-button-wrap .icon svg{
    fill: var(--key);
}

.open-position-card-show-more-button-wrap .icon svg:hover {
    fill: var(--primary);
}

.open-position-card-text {
    display: flex;
    flex-direction: column;
}

/*---------------------------------MEDIA QUERY--------------------------------*/
@media(max-width: 680px) {
    .open-position-card-summary{
        flex-direction: column;
        gap: var(--size-unit-3);
    }

    .open-position-card-summary p{
        width: 80%;
    }
}