/*Open position card styles*/
.open-position-card {
    max-width: calc(var(--size-unit-7) * 30);
    background-color: var(--soft);
    display: flex;
    flex-direction: column;
}

.open-position-card-heading h3 {
    font-size: var(--font-size-l);
    font-weight: bold;
}

.open-position-card-summary-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.open-position-card-summary {
    width: 100%;
    gap: 2%;
    display: flex;
    flex-direction: row;
}

.open-position-card-summary p {
    display: inline-block;
    background-color: var(--base);
    border-radius: var(--size-unit-4);
}

.open-position-card-summary p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.open-position-card-summary p svg {
    height: calc(var(--size-unit-4) * 1);
}

.open-position-card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.open-position-card-show-more-button-wrap {
    width: 10%;
    height: var(--size-unit-7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-position-card-show-more-button {
    background-color: var(--soft);
    border: none;
    width: calc(var(--size-unit-7) * 1.25);
}

.open-position-card-show-more-button svg {
    width: var(--size-unit-7);
    height: var(--size-unit-7);
}

.open-position-card-show-more-button svg:hover {
    color: var(--primary);
    cursor: pointer;
}

.open-position-card-text {
    display: flex;
    flex-direction: column;
}

/*---------------------------------MEDIA QUERY--------------------------------*/
@media(max-width: 550px) {
    .open-position-card-summary{
        flex-direction: column;
        gap: var(--size-unit-3);
        width: 80%;
    }
}