.product-card {
    box-sizing: border-box;
    padding: var(--size-unit-2);
    background-color: var(--soft);
    margin: var(--size-unit-2);
    max-width: calc(var(--size-unit-7) * 7);
    height: calc(var(--size-unit-7) * 8);
}

.product-card:hover {
    box-shadow: var(--shadow-medium);
    cursor: pointer;
}
.product-card-heading h3{
    font-weight: bold;
    padding-top: var(--size-unit-3);
    padding-bottom: var(--size-unit-3);
    font-size: var(--font-size-s);
}
.product-card-img img {
    width: 100%;
    height: calc(var(--size-unit-7) * 5.5);
    object-fit: cover;
    margin: 0;
}

.product-card-price p {
    font-size: var(--font-size-s);
}

/*---------------------------------MEDIA QUERY--------------------------------*/
@media (max-width: 620px) {
    .product-card-heading {
        font-size: var(--font-size-2xs);
    }

    .product-card-price {
        font-size: var(--font-size-3xs);
    }
}

@media (max-width: 520px) {
    .product-card {
        height: calc(var(--size-unit-7) * 6);
    }

    .product-card-img img {
        height: calc(var(--size-unit-7) * 4);
    }

    .product-card-heading {
        font-size: var(--font-size-2xs);
    }

    .product-card-price p {
        font-size: var(--font-size-xs);
    }
}