.product-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--soft);
    max-width: calc(var(--size-unit-7) * 7);
    height: calc(var(--size-unit-7) * 8);
}

.product-card-heading,
.product-card-text,
.product-card-price {
    color: var(--neutral);
}

.product-card-heading {
    font-weight: bold;
    font-size: var(--font-size-s);
}

.product-card-img img {
    width: 100%;
    height: calc(var(--size-unit-7) * 5.5);
    object-fit: cover;
}

.product-card-text {
    display: none;
}

.product-card-price {
    font-size: var(--font-size-s);
    margin-top: auto;
}

.product-card:hover {
    justify-content: space-between;
    box-shadow: var(--shadow-medium);
    cursor: pointer;
}

.product-card:hover .product-card-img img {
    height: calc(var(--size-unit-7) * 4);
}

.product-card:hover .product-card-text {
    display: block;
}

/*---------------------------------MEDIA QUERY--------------------------------*/
@media(max-width: 1370px) {
    .product-card-text {
        font-size: var(--font-size-xs);
    }
}

@media (max-width: 620px) {
    .product-card-heading {
        font-size: var(--font-size-s);
    }

    .product-card-price {
        font-size: var(--font-size-s);
    }

    .product-card-text {
        font-size: var(--font-size-s);
    }

    .product-card:hover .product-card-img img {
        height: calc(var(--size-unit-7) * 4);
    }
}

@media (max-width: 520px) {
    .product-card {
        height: calc(var(--size-unit-7) * 6);
    }

    .product-card-img img {
        height: calc(var(--size-unit-7) * 4);
    }

    .product-card:hover .product-card-img img {
        height: calc(var(--size-unit-7) * 2.5);
    }

    .product-card-heading {
        font-size: var(--font-size-xs);
    }

    .product-card-text {
        font-size: var(--font-size-2xs);
    }

    .product-card-price {
        font-size: var(--font-size-xs);
    }
}