/*-----------------------------SEARCH SECTION-----------------------------*/
.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--size-unit-5);
    margin-bottom: var(--size-unit-7);
}

.search-section .heading-standard h2 {
    margin: var(--size-unit-0);
    margin-bottom: var(--size-unit-3);
}

.search-section .icon svg{
    cursor: default;
}

.input-wrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-wrap span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--soft);
    border: none;
    margin: var(--size-unit-0);
    height: calc(var(--size-unit-7) * 0.8);
}

.search-bar input {
    box-sizing: border-box;
    background-size: var(--size-unit-6);
    width: calc(var(--size-unit-7) * 9);
    height: calc(var(--size-unit-7) * 0.8);
    padding: var(--size-unit-3);
    background-color: var(--soft);
    border: none;
}

.search-bar input::placeholder {
    color: var(--key);
    font-size: var(--font-size-xs);
    font-weight: bold;
}


/*--------------------------------MEDIA QUERY-----------------------------*/

@media (max-width: 880px) {
    .search-section .heading-standard h2 {
        font-size: var(--font-size-l);
    }
}

@media (max-width: 520px) {
    .search-bar input {
        width: calc(var(--size-unit-7) * 6);
    }
}