/*Text*/
.text-standard p {
    font-size: var(--font-size-m);
}

.text-important p {
    box-sizing: border-box;
    padding: var(--size-unit-1);
    display: inline-block;
    font-size: var(--font-size-m);
    background-color: var(--important);
}



/*---------------------------------MEDIA QUERY--------------------------------*/



