/*Text*/
.txt p{
    font-size: var(--font-size-m);
}

.txt--standard p,.txt--standard ul li{
    color: var(--neutral);
}

.txt--3xs p{
    font-size: var(--font-size-3xs);
}

.txt--important p {
    box-sizing: border-box;
    padding: var(--size-unit-1);
    display: inline-block;
    background-color: var(--important);
}



/*---------------------------------MEDIA QUERY--------------------------------*/



