@import 'global/reset.css';
@import 'global/base.css';
@import 'global/layout.css';
@import 'global/utilities.css';

@import 'components/buttons.css';
@import 'components/contactBanner.css';
@import 'components/footer.css';
@import 'components/header.css';
@import 'components/headings.css';
@import 'components/mapSection.css';
@import 'components/navigation.css';
@import 'components/popUpBanner.css';
@import 'components/productCard.css';
@import 'components/text.css';
@import 'components/topBar.css';

@import 'pages/contacts.css';
@import 'pages/index.css';
@import 'pages/productPage.css';
