@import 'global/reset.css';
@import 'global/base.css';
@import 'global/layout.css';
@import 'global/utilities.css';
@import 'global/theming.css';

@import 'components/buttons.css';
@import 'components/contactBanner.css';
@import 'components/footer.css';
@import 'components/header.css';
@import 'components/headings.css';
@import 'components/mapSection.css';
@import 'components/navigation.css';
@import 'components/popUpBanner.css';
@import 'components/productCard.css';
@import 'components/text.css';
@import 'components/topBar.css';
@import 'components/openPositionCard.css';
@import 'components/mobileMenu.css';
@import 'components/links.css';
@import 'components/themeSwitch.css';
@import 'components/searchSection.css';
@import 'components/svgIcon.css';

@import 'pages/contacts.css';
@import 'pages/index.css';
@import 'pages/productPage.css';
@import 'pages/career.css';
